* {
    margin: 0;
    padding: 0;
    color: #1c1e21;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F0f2f5;
}

.container {
    display: flex;
    justify-content: center;
    margin: 5%;
    padding: 20px;
}

.column {
    margin-right: 40px;
    padding: 10px;
    border-radius: 5px;
}
.column h1 {
    font-size: 60px;
    color: #1877F2;
    line-height: 45px;
}

.column p {
    margin-bottom: 20px;
}
.para {
    font-size: 25px;
}

.column form {
    padding: 20px;
    border-radius: 5px;
}
input {
    width: 95%;
    height: 2%;
    border: 2px Solid #F0f2f5;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
}
#left{
    margin-top: 50px;
}
#right {
    background-color: white;
    text-align: center;
    padding: 5px;
}
button {
    font-size: 16px;
    width: 100%;
    color: #F0f2f5;
    border: none;
    padding: 15px;
    border-radius: 5px;
    background-color: #1877F2;
}

.green button {
    background-color: #42B72A;
}
hr {
    height: 2px;
    border: none;
    background-color: #F0f2f5;
}
.forgotten, .create-page {
    margin-top: 15px;
    font-size: 15px; 
}
.forgotten a{
    text-decoration: none;
    color: #1877F2;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }
}